DATABASE_URL=sqlite:///./igreja.db

SECRET_KEY=troque-por-uma-chave-secreta-longa-e-aleatoria
SETUP_TOKEN=troque-por-um-token-longo-e-aleatorio
ACCESS_TOKEN_EXPIRE_MINUTES=120

MASTER_USERNAME=useradm
MASTER_EMAIL=admin@papperteste.com
MASTER_PASSWORD=defina-uma-senha-forte-aqui

APP_TIMEZONE=America/Sao_Paulo
ENABLE_SETUP_ENDPOINT=false
